.weather {
  width: 35vw;
  height: 36vh;
  border-radius: 6px;
  /* box-shadow: 10px -2px 20px 2px #1ED760; */
  color: white;
  margin: 80px auto 0 auto;
  padding: 0 20px 20px 20px;
  backdrop-filter: blur(10px);
  background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
}

.top,.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.weather-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  margin: 0;
}

.weather-icon {
  width: 100px;
}

.temperature {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
}

.details {
  width: 100%;
  padding-left: 20px;
}

.parameter-row {
  font-size: 100px;
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  margin-left: 120px;
}

.parameter-value {
  text-align: right;
  font-weight: 300;
  font-size: 18px;
}

.parameter-label.top {
  border-bottom: 1px solid white;
}